/*浏览器初始化*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover {text-decoration:none;  }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; } 


.aa{
	width: 100%;
	height: 100%;
	background: #22C3AA;
	/*animation:myfirst 5s;*/
}
@keyframes myfirst
{
from {background:#22C3AA;}
to {background:#6EE95E;}
}
/*移入导航小点*/
.navTitle-box1{
	width: 40px;
	height: 150px;
	position: absolute;
	top:50%;
	left: 45px;
	margin-top: -67.5px;
}
.navTitle{
	display: block;
	width: 30px;
	height: 20px;
	font-size: 13px;
	color: white;
	/*opacity: 0;*/
}
.navTitle i{
	display: block;
	width: 30px;
	height: 20px;
	font-style: normal;
	display: none;
}
/*正文布局*/
.conBox{
	width: 1200px;
	height: 100%;
	/*border: 1px solid white;
	background: pink;*/
	margin: auto;
	display: flex;/*弹性垂直居中*/
	align-items:center;
}
.con1{
	width: 1200px;
	height: 460px;
}
.face{
	width: 180px;
	height: 180px;
	border: 10px solid #AEE2D9;
	border-radius: 180px;
	overflow: hidden;
	margin: auto;
}
.face img{
	width: 100%;
	height: 100%;
}
.con1 h1{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #EEF3F0;
	margin-top: 5px;
	text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
}
.con1 p{
	width: 500px;
	height: 40px;
	color: #aee2d9;
	font-size: 20px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.con1 h2{
	width: 300px;
	height: 30px;
	text-align: center;
	margin:auto;
	margin-top: 5px;
	font-size: 22px;
	color: #EEF3F0;
	font-weight: bold;
}
a{
	color: #008A75;
	transition: color 0.4s;
	-webkit-transition: color 0.4s;
}
a:hover{
	color: #99FF33;
}
.con1 h3{
	color: #008A75;
	font-size: 19px;
	width: 200px;
	height: 30px;
	text-align: center;
	margin: auto;
	cursor: pointer;
	letter-spacing: -2px;
	margin-top: 15px;
	-webkit-transition: color 0.4s;
}
.con1 h3:hover{
	color: #99FF33;
}

.con2{
	width: 100%;
	height: 370px;
}
.con2 h1,.con3 h1,.con4 h1,.con5 h1,.con6 h1,.con7 h1{
	width: 290px;
	height: 100px;
	font-size:60px;
	text-align: center;
	margin: auto;
	color: #EEF3F0;
	font-weight: bold;
	text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
}
.tag{
	width:700px;
	height: ;
	margin: auto;
	text-align: center;
	color: #aee2d9;
	margin: 15px auto;
}
.tag span{
	display: inline-block;
	padding: 2px 8px;
	font-size: 16px;
	background:  #096254;
	border-radius: 3px;
	
}
.con3{
	width: 100%;
	height:300px;
}

.con3 h2,.con4 h2,.con5 h2,.con6 h2,.con7 h2{
	width: 600px;
	text-align: center;
	margin: auto;
	font-size: 25px;
	color:  #EEF3F0;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
}
.con3 p,.con4 p,.con5 p,.con6 p,.con7 p{
	width: 500px;
	text-align: center;
	margin: auto;
	color: #aee2d9;
	font-size: 19px;
	height: 35px;
	line-height: 35px;
}
.con4{
	width: 100%;
	height:500px;
	/*border: 1px solid #ccc;*/
}
.con5{
	width: 100%;
	height:300px;
	/*border: 1px solid #ccc;*/
}
.con6{
	width: 100%;
	height:350px;
	/*border: 1px solid #ccc;*/
}
.h2 a{
	color: #99FF33;
	-webkit-transition: color 0.4s;
}
.h2 a:hover{
	color: #008A75;
}
.link{
	width: 350px;
	height: 50px;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	/*border: 1px solid black;*/
}
.link span{
	display: inline-block;
	width:28px;
	height: 28px;
	/*border: 5px solid #008a75;*/
	padding: 6px;
	border-radius: 20px;
	cursor: pointer;
	background: #008a75;
	transition: background 0.8s;
	-webkit-transition: background 0.8s;
	transition:border-radius 0.8s;
	-webkit-transition:border-radius 0.8s;
}
.link span:hover{
	background: #096254;
	border-radius: 5px;
}
.link img{
	width: 100%;
	height: 100%;
}
.con7{
	width: 100%;
	height:350px;
}










